.c-red {
  color: #f44336;
}
.bg-red {
  background-color: #f44336;
}
.c-red {
  color: #22c55e;
}
.bg-red {
  background-color: #22c55e;
}
.c-red {
  color: #0075ff;
}
.bg-red {
  background-color: #0075ff;
}
.c-red {
  color: #f59e0b;
}
.bg-red {
  background-color: #f59e0b;
}
