*,
*::before,
*::after {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}
:root {
  --border-raduis: 6px;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --text-color: #777;
  --white-color: white;
  --black-color: black;
  --transition: 0.3s;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
.page {
  display: flex;
  min-height: 100vh;
  background-color: #f1f5f9;
}
/* Start Sidebar */

.sidebar {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 20px 20px 40px;
  box-shadow: 0 0 10px #ddd;
  z-index: 2;
}
.sidebar h3 {
  font-size: 22px;
  font-weight: bold;
  display: block;
  display: flex;
  justify-content: center;
  margin: 0 0 50px;
  position: relative;
  font-size: 20px;
}
.sidebar h3::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: black;
  border: 3px solid var(--white-color);
  border-radius: 50%;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.sidebar h3::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 40%;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar ul li {
  padding: 10px;
  border-radius: var(--border-raduis);
  margin-bottom: 5px;
  cursor: pointer;
}
.sidebar ul li:hover {
  background-color: #f6f6f6;
  transition: var(--transition);
}
.sidebar ul .active {
  background-color: #f6f6f6;
}
.sidebar ul li a i {
  color: black;
  font-size: 14px;
  margin-right: 10px;
}
.sidebar ul li a span {
  font-size: 14px;
  color: black;
}
@media (max-width: 767px) {
  .sidebar {
    padding: 10px 5px;
    width: fit-content;
  }
  .sidebar h3 {
    font-size: 13px;
    margin: 0 0 15px;
  }
  .sidebar h3::before {
    display: none;
  }
  .sidebar h3::after {
    display: none;
  }
  .sidebar ul {
    width: fit-content;
  }
  .sidebar ul li {
    padding: 10px;
    border-radius: var(--border-raduis);
    margin-bottom: 5px;
    cursor: pointer;
    width: fit-content;
  }
  .sidebar ul li a {
    display: block;
    width: fit-content;
    margin: auto;
  }
  .sidebar ul li a i {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 14px;
    margin: auto;
  }
  .sidebar ul li a span {
    display: none;
  }
}

/* End Sidebar */

/* Start Head */

.content {
  width: 100vw;
}

.content .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--white-color);
}
.content .head form .input {
  position: relative;
}
.content .head form .input::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
  z-index: 2;
}
.content .head form input {
  width: 160px;
  height: 40px;
  border: 1px solid #ccc;
  padding-left: 30px;
  border-radius: var(--border-raduis);
  position: relative;
  transition: var(--transition);
}
.content .head form input::placeholder {
  font-weight: normal;
  font-size: 14px;
}
.content .head form input:focus::placeholder {
  opacity: 0;
}
.content .head form input:focus {
  width: 250px;
}
.content .head .alert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.content .head .alert span {
  position: relative;
}
.content .head .alert span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  top: -6px;
  right: -6px;
  border-radius: 50%;
}
.content .head .alert i {
  position: relative;
}
.content .head .alert img {
  width: 40px;
}

/* End Head */

/* Start Title Of Page */
.content-container {
  padding: 10px 15px;
}
.content-container > h1 {
  font-size: 30px;
  padding: 0 0 10px;
  font-weight: bold;
  width: fit-content;
  position: relative;
  margin: 20px 20px 40px;
}
.content-container > h1::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: var(--white-color);
}
.content-container > h1::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: var(--black-color);
}
/* End Title Of Page */

/* Start Welcome */

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  padding: 15px;
}

.wrapper .box {
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
}
.wrapper .welcome {
  display: flex;
  flex-direction: column;
}
.wrapper .welcome .intro {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 15px;
}
.wrapper .welcome .intro .text {
}
.wrapper .welcome .intro > img {
  width: 200px;
}
.wrapper .welcome .rest {
  display: flex;
  flex-direction: column;
}
.wrapper .welcome .rest > img {
  width: 64px;
  box-shadow: 0 0 5px #ddd;
  border-radius: 50%;
  border: 5px solid var(--white-color);
  position: relative;
  top: -30px;
  left: 10%;
}
.wrapper .welcome .rest .text {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin: 20px 0;
  text-align: center;
}
.wrapper .welcome .rest .text .column h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}
.wrapper .welcome .rest .text .column p {
  font-size: 14px;
  color: var(--text-color);
}
.wrapper .welcome .rest button {
  width: fit-content;
  margin: 0 15px 15px auto;
  background-color: var(--blue-color);
  padding: 6px 10px;
  border: none;
  border-radius: var(--border-raduis);
  color: var(--white-color);
}
.wrapper .welcome .rest button:hover {
  background-color: var(--blue-alt-color);
}

/* End Welcome */

/* Start Quick Draft */

.wrapper .quick-draft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}
.wrapper .quick-draft p {
  margin-bottom: 20px;
}
.wrapper .quick-draft form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper .quick-draft form > input[type="text"] {
  width: 100%;
  border-radius: var(--border-raduis);
  border: none;
  background-color: #eee;
  min-height: 30px;
  padding: 10px;
}
.wrapper .quick-draft form > textarea {
  width: 100%;
  resize: none;
  min-height: 180px;
  padding: 10px;
  border-radius: var(--border-raduis);
  background-color: #eee;
  border: none;
}
.wrapper .quick-draft form input[type="submit"] {
  width: fit-content;
  background-color: var(--blue-color);
  margin: 0 15px 15px auto;
  padding: 6px 10px;
  border: none;
  border-radius: var(--border-raduis);
  color: var(--white-color);
}
.wrapper .quick-draft form input[type="submit"]:hover {
  background-color: var(--blue-alt-color);
}

/* End Quick Draft */
