*,
*::before,
*::after {
  --webkit-box-sizing: border-box;
  --moz-box-sizing: border-box;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}
:root {
  --border-raduis: 6px;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --text-color: #777;
  --white-color: white;
  --black-color: black;
  --transition: 0.3s;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
.page {
  display: flex;
  min-height: 100vh;
  background-color: #f1f5f9;
}
/* Start Sidebar */

.sidebar {
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 20px 20px 40px;
  box-shadow: 0 0 10px #ddd;
  z-index: 2;
}
.sidebar h3 {
  font-size: 22px;
  font-weight: bold;
  display: block;
  display: flex;
  justify-content: center;
  margin: 0 0 50px;
  position: relative;
  font-size: 20px;
}
.sidebar h3::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: black;
  border: 3px solid var(--white-color);
  border-radius: 50%;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.sidebar h3::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 40%;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar ul {
  width: 200px;
}
.sidebar ul li {
  border-radius: var(--border-raduis);
  margin-bottom: 5px;
  cursor: pointer;
}
.sidebar ul li:hover {
  background-color: #f6f6f6;
  transition: var(--transition);
}
.sidebar ul .active {
  background-color: #f6f6f6;
}
.sidebar ul li a {
  padding: 10px;
  display: block;
}
.sidebar ul li a i {
  color: black;
  font-size: 14px;
  margin-right: 10px;
}
.sidebar ul li a span {
  font-size: 14px;
  color: black;
}
@media (max-width: 767px) {
  .sidebar {
    padding: 10px 5px;
    width: fit-content;
  }
  .sidebar h3 {
    font-size: 13px;
    margin: 0 0 15px;
  }
  .sidebar h3::before {
    display: none;
  }
  .sidebar h3::after {
    display: none;
  }
  .sidebar ul {
    width: fit-content;
  }
  .sidebar ul li {
    padding: 10px;
    border-radius: var(--border-raduis);
    margin-bottom: 5px;
    cursor: pointer;
    width: fit-content;
  }
  .sidebar ul li a {
    display: block;
    width: fit-content;
    margin: auto;
  }
  .sidebar ul li a i {
    display: flex;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 14px;
    margin: auto;
  }
  .sidebar ul li a span {
    display: none;
  }
}

/* End Sidebar */

/* Start Head */

.content {
  width: calc(100vw - 250px);
  flex: 1;
}
@media (max-width: 767px) {
  .content {
    width: calc(100vw - 64px);
  }
}
.content .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--white-color);
}
.content .head form .input {
  position: relative;
}
.content .head form .input::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
  z-index: 2;
}
.content .head form input {
  width: 160px;
  border: 1px solid #ccc;
  padding: 8px 0 8px 30px;
  border-radius: var(--border-raduis);
  position: relative;
  transition: var(--transition);
}
.content .head form input::placeholder {
  font-weight: normal;
  font-size: 14px;
}
.content .head form input:focus::placeholder {
  opacity: 0;
}
.content .head form input:focus {
  width: 250px;
}
.content .head .alert {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.content .head .alert span {
  position: relative;
}
.content .head .alert span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  top: -6px;
  right: -6px;
  border-radius: 50%;
}
.content .head .alert i {
  position: relative;
}
.content .head .alert img {
  width: 40px;
}

/* End Head */

/* Start Title Of Page */
.content-container {
  padding: 10px 15px;
}
.content-container > h1 {
  font-size: 30px;
  padding: 0 0 10px;
  font-weight: bold;
  width: fit-content;
  position: relative;
  margin: 10px;
}
.content-container > h1::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: var(--white-color);
}
.content-container > h1::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: var(--black-color);
}
/* End Title Of Page */

/* Start Welcome */

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
  padding: 15px;
}
@media (max-width: 767px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 6px;
  }
}
.wrapper .box {
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
}
.wrapper .welcome {
  display: flex;
  flex-direction: column;
}
.wrapper .welcome .intro {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 15px;
}

.wrapper .welcome .intro > img {
  width: 200px;
}
@media (max-width: 767px) {
  .wrapper .welcome .intro > img {
    display: none;
  }
}
.wrapper .welcome .rest {
  display: flex;
  flex-direction: column;
}
.wrapper .welcome .rest > img {
  width: 64px;
  box-shadow: 0 0 5px #ddd;
  border-radius: 50%;
  border: 5px solid var(--white-color);
  position: relative;
  top: -30px;
  left: 10%;
}
@media (max-width: 767px) {
  .wrapper .welcome .rest > img {
    left: 70%;
  }
}
.wrapper .welcome .rest .text {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  margin: 20px 0;
  text-align: center;
}
.wrapper .welcome .rest .text .column h3 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
}
.wrapper .welcome .rest .text .column p {
  font-size: 14px;
  color: var(--text-color);
}
.wrapper .welcome .rest button {
  width: fit-content;
  margin: 0 15px 15px auto;
  background-color: var(--blue-color);
  padding: 6px 10px;
  border: none;
  border-radius: var(--border-raduis);
  color: var(--white-color);
}
.wrapper .welcome .rest button:hover {
  background-color: var(--blue-alt-color);
}

/* End Welcome */

/* Start Quick Draft */

.wrapper .quick-draft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
}
.wrapper .quick-draft p {
  margin-bottom: 20px;
}
.wrapper .quick-draft form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper .quick-draft form > input[type="text"] {
  width: 100%;
  border-radius: var(--border-raduis);
  border: none;
  background-color: #eee;
  min-height: 30px;
  padding: 10px;
}
.wrapper .quick-draft form > textarea {
  width: 100%;
  resize: none;
  min-height: 180px;
  padding: 10px;
  border-radius: var(--border-raduis);
  background-color: #eee;
  border: none;
}
.wrapper .quick-draft form input[type="submit"] {
  width: fit-content;
  background-color: var(--blue-color);
  margin: 0 15px 15px auto;
  padding: 6px 10px;
  border: none;
  border-radius: var(--border-raduis);
  color: var(--white-color);
}
.wrapper .quick-draft form input[type="submit"]:hover {
  background-color: var(--blue-alt-color);
}

/* End Quick Draft */

/* Start Yearly Targets */

.yearly-targets {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--white-color);
}
.yearly-targets h2 {
}
.yearly-targets p {
  color: var(--text-color);
  margin-bottom: 10px;
}
.yearly-targets .sub-box {
  display: flex;
}
.yearly-targets .sub-box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 80px;
  margin-right: 15px;
  border-radius: var(--border-raduis);
}
.yearly-targets .a .icon {
  background-color: rgb(0 117 255 / 20%);
  color: var(--blue-color);
}
.yearly-targets .b .icon {
  background-color: rgb(245 158 11 / 20%);
  color: var(--orange-color);
}
.yearly-targets .c .icon {
  background-color: rgb(34 197 94 / 20%);
  color: var(--green-color);
}
.yearly-targets .sub-box .target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.yearly-targets .sub-box .target h3 {
  margin-bottom: 10px;
}
.yearly-targets .sub-box .target > div {
  width: 100%;
  height: 4px;
  margin-bottom: 5px;
}
.yearly-targets .sub-box .target > div {
  position: relative;
}
.yearly-targets .a .target > div {
  background-color: rgb(0 117 255 / 20%);
}
.yearly-targets .b .target > div {
  background-color: rgb(245 158 11 / 20%);
}
.yearly-targets .c .target > div {
  background-color: rgb(34 197 94 / 20%);
}
.yearly-targets .sub-box .target > div span {
  height: 4px;
  position: absolute;
  left: 0;
  top: 0;
}
.yearly-targets .sub-box .target > div span::before {
  content: attr(prog);
  position: absolute;
  width: 34px;
  height: 22px;
  right: -17px;
  top: -32px;
  color: var(--white-color);
  border-radius: var(--border-raduis);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  z-index: 1;
}
.yearly-targets .a .target > div span::before {
  background-color: var(--blue-color);
}
.yearly-targets .b .target > div span::before {
  background-color: var(--orange-color);
}
.yearly-targets .c .target > div span::before {
  background-color: var(--green-color);
}
.yearly-targets .sub-box .target > div span::after {
  content: "";
  border: 10px solid;
  position: absolute;
  right: -10px;
  top: -16px;
}
.yearly-targets .a .target > div span::after {
  border-color: var(--blue-color) transparent transparent transparent;
}
.yearly-targets .b .target > div span::after {
  border-color: var(--orange-color) transparent transparent transparent;
}
.yearly-targets .c .target > div span::after {
  border-color: var(--green-color) transparent transparent transparent;
}

.yearly-targets .a .target > div span {
  background-color: var(--blue-color);
}
.yearly-targets .b .target > div span {
  background-color: var(--orange-color);
}
.yearly-targets .c .target > div span {
  background-color: var(--green-color);
}

/* End Yearly Targets */

/* Start Tickets Statistics */
.tickets-statistics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.tickets-statistics p {
  color: var(--text-color);
}
.tickets-statistics .grid-holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.tickets-statistics .grid-holder .sub-box {
  border: 1px solid #ccc;
  border-radius: var(--border-raduis);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.tickets-statistics .grid-holder .a i {
  color: var(--orange-color);
}
.tickets-statistics .grid-holder .b i {
  color: var(--blue-color);
}
.tickets-statistics .grid-holder .c i {
  color: var(--green-color);
}
.tickets-statistics .grid-holder .d i {
  color: var(--red-color);
}
.tickets-statistics .grid-holder .sub-box h3 {
  margin: 10px 0 5px;
}

/* End Tickets Statistics */

/* Start Latest News */

.latest-news {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.latest-news h2 {
  margin-bottom: 10px;
}
.latest-news .sub-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.latest-news .sub-box:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-news .sub-box .intro {
  display: flex;
}
.latest-news .sub-box .intro > img {
  height: 50px;
  border-radius: var(--border-raduis);
}

.latest-news .sub-box .intro .text {
  margin-left: 10px;
  padding: 10px 0;
}
.latest-news .sub-box .intro .text h3 {
  font-size: 16px;
  margin-bottom: 5px;
}
.latest-news .sub-box .intro .text p {
  font-size: 14px;
  color: var(--text-color);
}
.latest-news .sub-box span {
  font-size: 14px;
  color: black;
  background-color: #eee;
  padding: 10px;
  border-radius: var(--border-raduis);
}
@media (max-width: 767px) {
  .latest-news .sub-box {
    flex-direction: column;
  }
  .latest-news .sub-box .intro {
    justify-content: space-between;
    align-items: flex-start;
  }
  .latest-news .sub-box .intro .text {
    padding: 0;
  }
}
/* End Latest News */

/* Start Top Search Items */

.latest-tasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.latest-tasks h2 {
  font-size: 26px;
  margin-bottom: 10px;
}
.latest-tasks p {
  color: var(--text-color);
  font-size: 16px;
  margin-top: 10px;
}
.latest-tasks .sub-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.latest-tasks .sub-box:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.latest-tasks .opa {
  opacity: 0.3;
}
.latest-tasks .opa h4,
.latest-tasks .opa p {
  text-decoration: line-through;
}
/* End Top Search Items */

/* Start Top Search Items */

.search-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.search-items h2 {
  font-size: 26px;
}
.search-items .span {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.search-items .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.search-items .list h4 {
  font-weight: 500;
}
.search-items .list span {
  background-color: #eee;
  padding: 5px 8px;
  border-radius: var(--border-raduis);
  font-size: 14px;
}

/* End Top Search Items */

/* Start Latest Uploads */

.latest-uploads {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.latest-uploads .sub-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.latest-uploads .sub-box:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-uploads h2 {
  font-size: 26px;
  margin-bottom: 10px;
}
.latest-uploads .intro {
  display: flex;
  gap: 15px;
}
.latest-uploads .intro > img {
  height: 40px;
}
.latest-uploads .intro .text h4 {
  font-weight: 500;
  margin-bottom: 5px;
}
.latest-uploads .intro .text p {
  font-size: 14px;
  color: var(--text-color);
}
.latest-uploads .sub-box > span {
  background-color: #eee;
  border-radius: var(--border-raduis);
  font-size: 14px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
}

/* End Latest Uploads */

/* Start Last Project Progress */

.project-progress {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  position: relative;
}
.project-progress h2 {
  font-size: 26px;
  margin-bottom: 20px;
}
.project-progress p {
  font-size: 16px;
  font-weight: 500;
}
.project-progress .point {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.project-progress .point .circle {
  background-color: var(--blue-color);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
}
.project-progress .point .circle:before {
  content: "";
  background-color: var(--blue-color);
  width: 2px;
  height: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.project-progress .point .last:before {
  display: none;
}
.project-progress .point .sub-circle {
  background-color: var(--blue-color);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.project-progress .point .animation {
  background-color: var(--blue-color);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: vibbote 1.5s linear infinite;
}
.project-progress .point .white {
  background-color: var(--white-color);
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.project-progress > img {
  position: absolute;
  height: 150px;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}
@media (max-width: 767px) {
  .project-progress > img {
    display: none;
  }
}

/* End Last Project Progress */

/* Start Reminders */

.reminders {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.reminders p {
  font-size: 12px;
  color: var(--text-color);
}
.reminders h2 {
  font-size: 26px;
  margin-bottom: 20px;
}
.reminders .points {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}
.reminders .points .dot {
  width: 50px;
  height: 50px;
  padding-left: 40px;
  position: relative;
}
.reminders .points .dot::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 50%;
  left: 30%;
  translate: -50% -50%;
}
.reminders .points .dot::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  right: 0;
  top: 0;
}
.reminders .points .blue::before,
.reminders .points .blue::after {
  background-color: var(--blue-color);
}
.reminders .points .green::before,
.reminders .points .green::after {
  background-color: var(--green-color);
}
.reminders .points .orange::before,
.reminders .points .orange::after {
  background-color: var(--orange-color);
}
.reminders .points .red::before,
.reminders .points .red::after {
  background-color: var(--red-color);
}
.reminders .points .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* End Reminders */

/* Start Latest Post */

.latest-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.latest-post h2 {
  font-size: 26px;
}
.latest-post .info {
  display: flex;
  gap: 20px;
}
.latest-post .info > img {
  width: 40px;
}
.latest-post .info .title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.latest-post .info .title h3 {
  font-size: 16px;
}
.latest-post .info .title p {
  color: var(--text-color);
  font-size: 14px;
}
.latest-post > p {
  color: black;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  padding: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.latest-post .social-icon {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  color: var(--text-color);
}

/* End Latest Post */

/* Start Social Media Stats */

.social-stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.social-stats h2 {
  font-size: 26px;
  margin-bottom: 20px;
}
.social-stats .sub-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 2px;
  padding: 0 10px 0 0;
}
.social-stats .sub-box .info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-stats .sub-box .info .logo {
  width: 50px;
  height: 50px;
  font-size: 12px;
  background-color: #0075ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}
.social-stats .sub-box .info:hover .logo {
  transform: rotateZ(4deg);
  transition: var(--transition);
}
.social-stats .sub-box .info .logo i {
  color: var(--white-color);
}
.social-stats .sub-box button {
  height: 25px;
  width: 70px;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
}

/* End Social Media Stats */

/* Start Table Project */

.table-container {
  padding: 0 20px 20px;
}
@media (max-width: 767px) {
  .table-container {
    padding: 0 6px 6px;
  }
}
.table-container img {
  width: 30px;
  border: 1px solid var(--white-color);
  border-radius: 50%;
}
.table-container img:not(:first-child) {
  margin-left: -20px;
}
.table-container td {
  padding: 15px;
}
.table-container h2 {
  font-size: 26px;
  margin-bottom: 30px;
}
.table-container .project {
  background-color: var(--white-color);
  border-radius: 10px;
  padding: 20px;
}
.table-container .project .res-table {
  overflow-x: auto;
}
.table-container .project table {
  min-width: 1200px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  border-collapse: collapse;
  border-spacing: 0;
}
.table-container .project table thead {
  background-color: #eee;
  font-weight: bold;
}
.table-container .project table tbody tr:hover {
  background-color: #faf7f7;
  transition: var(--orange-color);
}
.table-container .project table tbody td {
  border: 1px solid #eee;
}
.table-container button {
  width: 70px;
  height: 20px;
  font-size: 12px;
  color: var(--white-color);
  border: none;
  border-radius: 4px;
}
.table-container button.pending {
  background-color: var(--orange-color);
}
.table-container button.in-progress {
  background-color: var(--blue-color);
}
.table-container button.completed {
  background-color: var(--green-color);
}
.table-container button.rejected {
  background-color: var(--red-color);
}

/* End Table Project */

/* Start Settings */

/* Start Site Control */

.settings-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 20px;
  gap: 20px;
}
@media (max-width: 767px) {
  .settings-content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    padding: 5px;
  }
}
.settings-content .box {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: var(--border-raduis);
}
.settings-content .box h2 {
  font-size: 26px;
  margin-bottom: 20px;
}
.settings-content .box:first-child > p {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
}
.settings-content .box:first-child .chek-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.settings-content .box:first-child .text h3 {
  font-size: 16px;
  font-weight: 500;
}
.settings-content .box:first-child .text > p {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
}
.settings-content .box:first-child textarea {
  padding: 10px;
  width: 100%;
  height: 150px;
  border-radius: var(--border-raduis);
  resize: none;
  margin-bottom: 20px;
  border-color: #ccc;
}
.settings-content .box:first-child textarea::placeholder {
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  color: rgb(194, 194, 194);
}
/* Start Toggle //////////////////////////////////// Bottom */

.site-control .toggle-checkbox {
  --webkit-appearance: none;
  appearance: none;
}
.site-control .toggle-switch {
  width: 60px;
  height: 26px;
  background-color: #ccc;
  position: relative;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  transition: var(--transition);
}
.site-control .toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  width: 22px;
  height: 22px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  transition: var(--transition);
}
.site-control .toggle-checkbox:checked ~ .toggle-switch {
  background-color: var(--blue-color);
}
.site-control .toggle-checkbox:checked ~ .toggle-switch::before {
  content: "\f00c";
  left: 36px;
}

/* End Toggle //////////////////////////////////// Bottom */

/* End Site Control */

/* Start backup-manager */

.backup-manager {
  display: flex;
  flex-direction: column;
}
.backup-manager input[type="radio"] {
  --webkit-appearance: none;
  appearance: none;
}
.backup-manager p {
  margin-bottom: 30px;
}
.backup-manager .date {
  margin-bottom: 10px;
}
.backup-manager .date label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.backup-manager .date label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--grey-color);
  transition: var(--transition);
}
.backup-manager .date input[type="radio"]:checked ~ label::before {
  border-color: var(--blue-color);
}
.backup-manager .date label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  translate: 0 -50%;
  scale: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--blue-color);
  transition: var(--transition);
}
.backup-manager .date input[type="radio"]:checked ~ label::after {
  scale: 1;
}
.backup-manager .server-type {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0;
  border-top: 1px solid #eee;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .backup-manager .server-type {
    flex-direction: column;
  }
}
.backup-manager .server-type .server {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 115px;
  margin: 5px;
}
.backup-manager .server-type .server label {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #eee;
  padding: 15px 0;
  font-weight: 500;
}
.backup-manager .server-type .server input[type="radio"]:checked ~ label {
  border-color: var(--blue-color);
  color: var(--blue-color);
  transition: var(--transition);
}
.backup-manager .server-type .server label i {
  display: block;
  margin-bottom: 10px;
}
.backup-manager .server-type .server input[type="radio"]:checked ~ label i {
  color: var(--blue-color);
  transition: var(--transition);
}

/* End backup-manager */

/* End Settings */

/* Start Animation */

@keyframes vibbote {
  0%,
  100% {
    background-color: var(--blue-color);
  }
  45%,
  55% {
    background-color: var(--white-color);
  }
}

/* End Animation */
